@model SocialModel
<ul class="networks">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook"><a href="https://www.facebook.com/PCS-Company-1058243877587430" target="_blank">Facebook</a></li>
    }
    @*@if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter"><a href="@Model.TwitterLink" target="_blank">@T("Footer.FollowUs.Twitter")</a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})">@T("Footer.FollowUs.RSS")</a></li>
    }*@
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube"><a href="https://www.youtube.com/user/pcscompany" target="_blank">YouTube</a></li>
    }
    <li class="linkedin"><a href="https://www.linkedin.com/company/pcs-company/" target="_blank">LinkedIn</a></li>
    @*@if (!string.IsNullOrEmpty(Model.GooglePlusLink))
    {
        <li class="google-plus"><a href="@Model.GooglePlusLink" target="_blank">@T("Footer.FollowUs.GooglePlus")</a></li>
    }*@
</ul>