@model CustomerAddressSearchModel
@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers");
}
<nop-antiforgery-token />
<div class="panel panel-default">
    <div class="panel-body">
        <div id="customer-addresses-grid"></div>
        <script>
                $(document).ready(function () {
                    $("#customer-addresses-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ShipToSelect", "Customer"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: function() {
                                        var data = {
                                            @*CustomerId: '@(Model.)'*@
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                }
                                @*destroy: {
                                    url: "@Html.Raw(Url.Action("AddressDelete", "Customer", new { customerId = Model.Id }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }*@
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id"
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize:10,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [10],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "FirstName",
                            title: "@T("Admin.Address.Fields.FirstName")"
                        }, {
                            field: "LastName",
                            title: "@T("Admin.Address.Fields.LastName")"
                        }, {
                            field: "Email",
                            title: "@T("Admin.Address.Fields.Email")"
                        }, {
                            field: "PhoneNumber",
                            title: "@T("Admin.Address.Fields.PhoneNumber")"
                        }, {
                            field: "FaxNumber",
                            title: "@T("Admin.Address.Fields.FaxNumber")"
                        }, {
                            field: "AddressHtml",
                            title: "@T("Admin.Address")",
                            encoded: false
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                                template: '<a class="btn btn-default" href="ShipToEdit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
        </script>
        </div>
    </div>


